<div class="container pt-5">
  <div class="d-flex justify-content-start">
    <p><strong>Turma:</strong> ADS0303N</p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-start">
    <p><strong>Turno:</strong> Noite</p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-start">
    <p><strong>Unidade:</strong> Bonsucesso</p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-end">
    <img src="./assets/img/foto.jpg" alt="minha foto" width="100" height="99" />
  </div>
</div>

<div class="container pt-3">
  <div class="col-12 d-flex justify-content-center">
    <p><strong>Nome:</strong> Henrique Lima da Silva Pereira</p>
  </div>
</div>
